<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
          content="airbnb, booking, city guide, directory, events, hotel booking, listings, marketing, places, restaurant, restaurant">
    <meta name="description" content="Guido - Directory & Listing HTML Template">
    <meta name="CreativeLayers" content="ATFN">
    <!-- css file -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <!-- Title -->
    <title>Guido - Directory & Listing HTML Template</title>
    <!-- Favicon -->
    <link href="/images/favicon.ico" sizes="128x128" rel="shortcut icon" type="image/x-icon"/>
    <link href="/images/favicon.ico" sizes="128x128" rel="shortcut icon"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <style>
        div.minimalistBlack {
            width: 65%;
            text-align: center;
            border-collapse: collapse;
            margin: auto;

        }

        .divTable.minimalistBlack .divTableCell, .divTable.minimalistBlack .divTableHead {
            border: 1px solid #E2E6EF;
            padding: 12px 8px;

        }

        .divTable.minimalistBlack .divTableBody .divTableCell {
            font-size: 17px;
        }

        .divTable.minimalistBlack .divTableHeading {
            background: #CFCFCF;
            background: -moz-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
            background: -webkit-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
            background: linear-gradient(to bottom, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
            border-bottom: 3px solid #000000;
        }

        .divTable.minimalistBlack .divTableHeading .divTableHead {
            font-size: 15px;
            font-weight: bold;
            color: #000000;
            text-align: center;
        }

        .minimalistBlack .tableFootStyle {
            font-size: 14px;
            font-weight: bold;
            color: #000000;
            border-top: 3px solid #000000;
        }

        .minimalistBlack .tableFootStyle {
            font-size: 14px;
        }

        /* DivTable.com */
        .divTable {
            display: table;
        }

        .divTableRow {
            display: table-row;
        }

        .divTableHeading {
            display: table-header-group;
        }

        .divTableCell, .divTableHead {
            display: table-cell;
        }

        .divTableHeading {
            display: table-header-group;
        }

        .divTableFoot {
            display: table-footer-group;
        }

        .divTableBody {
            display: table-row-group;
        }
    </style>
</head>
<body>

<!-- Main Header Nav -->
<header class="header-nav menu_style_home_one style2 navbar-scrolltofixed stricky main-menu">
    <div class="container-fluid p0">
        <!-- Ace Responsive Menu -->
        <nav>
            <!-- Menu Toggle btn-->
            <div class="menu-toggle">
                <img class="nav_logo_img img-fluid" src="images/header-logo.svg" alt="header-logo.svg">
                <button type="button" id="menu-btn">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <a href="/covid/index" class="navbar_brand float-left dn-smd">
                <strong><h3 style="font-size: 60px; color:#3e4c66; font-weight: bold;">질병 지키미</h3></strong>
            </a>
            <!-- Responsive Menu Structure-->
            <!--Note: declare the Menu style in the data-menu-style="horizontal" (options: horizontal, vertical, accordion) -->
            <div class="ht_left_widget float-left">
                <ul>
                    <li class="list-inline-item">
                        <div class="ht_search_widget">

                        </div>
                    </li>
                </ul>
            </div>
            <div style="padding-right: 5%;">
                <ul id="respMenu" class="ace-responsive-menu text-right" data-menu-style="horizontal">
                    <li>
                        <a href="/covid/list1"><span class="title">감염병 발생정보</span></a>
                        <!-- Level Two-->
                        <ul>
                            <li><a href="/covid/list1">감염병 제1군</a></li>
                            <li><a href="/covid/list2">감염병 제4군</a></li>
                        </ul>
                    </li>
                    &nbsp;&nbsp;&nbsp;

                    <li>
                        <a href="http://3.39.252.243:11000/news/twonewslist"><span class="title">예방생활 수칙</span></a>
                        <ul>
                            <li><a href="http://3.39.252.243:11000/photo/uploadImgycle">분리배출 방법</a></li>
                            <li><a href="http://3.39.252.243:11000/news/twonewslist">환경 뉴스</a></li>


                        </ul>
                        <!-- Level Two-->
                    </li>&nbsp;&nbsp;&nbsp;

                    <li>
                        <a href="/covid/hospital"><span class="title">병원</span></a>
                        <!-- Level Two-->
                    </li>&nbsp;&nbsp;&nbsp;

                    <li>
                        <a href="/covid/publichospital"><span class="title">보건소</span></a>
                        <!-- Level Two-->

                    </li>&nbsp;&nbsp;&nbsp;

                    <li>

                    <li class="list-inline-item list_s">
                        <a href="/covid/RegForm" class="btn flaticon-avatar">
                            <span class="dn-1200" style="color: red;"><strong>감염병 신고</strong></span></a></li>

                </ul>
            </div>
        </nav>
    </div>
</header>
<br/>

<!-- Our Dashbord -->
<section class="our-dashbord dashbord bgc-f4">
    <div class="container">
        <div class="row">

            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-3">
                <div class="ff_one">
                    <div class="icon"><span class="flaticon-list"></span></div>
                    <div class="detais">
                        <div class="sick"><h5><strong>감염병정보 1군</strong></h5></div>
                        <p><a href="/covid/list1"> + 더보기 </a></p>
                    </div>
                </div>
            </div>


            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-3">
                <div class="ff_one">
                    <div class="icon"><span class="flaticon-list"></span></div>
                    <div class="detais">
                        <div class="sick"><h5><strong>감염병정보 4군</strong></h5></div>
                        <p><a href="/covid/list2"> + 더보기 </a></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-3">
                <div class="ff_one">
                    <div class="icon"><span class="flaticon-list"></span></div>
                    <div class="detais">
                        <div class="hospital"><h5><strong>보건소</strong></h5></div>
                        <p><a href="/covid/publichospital"> + 더보기 </a></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-3">
                <div class="ff_one">
                    <div class="icon"><span class="flaticon-love"></span></div>
                    <div class="detais">
                        <div class="RegForm" ><h5><strong>감염병 신고</strong></h5></div>
                        <p><a href="/covid/RegForm"> + 더보기 </a></p>
                    </div>
                </div>
            </div>



            <!--코로나 확진 현황 넣기!-->

            <div class="col-lg-7 col-xl-8">
                <div class="application_statics">
                    <h4>Total Views</h4>
                    <div class="c_container"></div>
                </div>
            </div>





            <div class="col-lg-5 col-xl-4">
                <div class="recent_job_activity">
                    <h4 class="title"><strong>코로나19 병원</strong> <h5 style="text-align: right;"><a href="/covid/hospital"> + 더보기 </a></h5> </h4>
                    <div class="grid style4">
                        <ul>
                            <li class="list-inline-item"><div class="icon"><span class="flaticon-note"></span></div></li>
                            <li class="list-inline-item"><p>(의)한국필의료재단 한국의원</p></li>
                        </ul>
                    </div>

                    <div class="grid style4">
                        <ul>
                            <li class="list-inline-item"><div class="icon"><span class="flaticon-note"></span></div></li>
                            <li class="list-inline-item"><p>경희대학교병원</p></li>
                        </ul>
                    </div>
                    <div class="grid style4">
                        <ul>
                            <li class="list-inline-item"><div class="icon"><span class="flaticon-note"></span></div></li>
                            <li class="list-inline-item"><p>에이치플러스 양지병원</p></li>
                        </ul>
                    </div>
                    <div class="grid style4">
                        <ul>
                            <li class="list-inline-item"><div class="icon"><span class="flaticon-note"></span></div></li>
                            <li class="list-inline-item"><p>중앙대학교병원</p></li>
                        </ul>
                    </div>
                    <div class="grid style4">
                        <ul>
                            <li class="list-inline-item"><div class="icon"><span class="flaticon-note"></span></div></li>
                            <li class="list-inline-item"><p>한양대학교병원</p></li>
                        </ul>
                    </div>
                    <div class="grid style4">
                        <ul class="pb0 mb0 bb_none">
                            <li class="list-inline-item"><div class="icon"><span class="flaticon-note"></span></div></li>
                            <li class="list-inline-item"><p>티씨엠랩의원</p></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>














<br><br><br><br>
</body>


<section class="footer_one home1">
    <div class="container pb70">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3">
                <div class="footer_contact_widget">
                    <h4>Contact Us</h4>
                    <ul class="list-unstyled">
                        <li class="text-white df"><span class="flaticon-pin mr15"></span><a href="#">서울특별시 강서구 화곡동
                            우장산로10길 112</a></li>
                        <li class="text-white"><span class="flaticon-phone mr15"></span><a href="#">82+
                            010-9962-6997</a></li>
                        <li class="text-white"><span class="flaticon-email mr15"></span><a
                                href="#">lowell0322@naver.com</a></li>
                    </ul>
                </div>
            </div>

            <hr>
            <div class="container pt20 pb30">
                <div class="row">
                    <div class="col-md-4 col-lg-4">
                        <div class="copyright-widget mt10 mb15-767">
                            <p>© 질병지키미</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <div class="footer_logo_widget text-center mb15-767">
                            <div class="wrapper">
                                <div class="logo text-center">

                                    <span class="logo_title text-white pl15">질병지키미</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
</section>
<a class="scrollToHome" href="#"><i class="fa fa-angle-up"></i></a>
</div>
<!-- Wrapper End -->
<script src="/js/jquery-3.6.0.js"></script>
<script src="/js/jquery-migrate-3.0.0.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.mmenu.all.js"></script>
<script src="/js/ace-responsive-menu.js"></script>
<script src="/js/bootstrap-select.min.js"></script>
<script src="/js/snackbar.min.js"></script>
<script src="/js/simplebar.js"></script>
<script src="/js/parallax.js"></script>
<script src="/js/scrollto.js"></script>
<script src="/js/jquery-scrolltofixed-min.js"></script>
<script src="/js/jquery.counterup.js"></script>
<script src="/js/wow.min.js"></script>
<script src="/js/progressbar.js"></script>
<script src="/js/slider.js"></script>
<script src="/js/timepicker.js"></script>
<script src="/js/wow.min.js"></script>
<!-- Custom script for all pages -->
<script src="/js/script.js"></script>
</body>
</html>